{% extends "base.html" %}

{% block content %}
<p>Bienvenides a El Tarotcito. <br>
  Un lugar para leer y aprender tarot. <br>
  Esta es la entrega número 1.0: Mazo de Constanza Aravena y descripciones de Ignacia Taré. 
  Cuenta con los Arcanos Mayores y la tradicional tirada de tres cartas.<br>
  <br>
  Para obtener una tirada de tres cartas, sólo haz click en "Tiradas" <br>
  <br>
  
  <b>Próximas entregas:</b>
  <ul>
    <li>1.1: Mazo completo, con Arcanos mayores y menores</li>
    <li>1.2: Mejores descripciones, por su servidora </li>
    <li>2.0: Mejoras en los perfiles de usuarios registrados</li>
    <li>2.1: Posibilidad que los ususarios resgitrados guarden sus tiradas</li>
    <li>3.0: Nuevos mazos</li>
    <li>3.1: Nuevas tiradas </li>
    <li>4.0: Conexión con chatGPT</li>
  </ul>
</p>
{% endblock content %}